<% provide(:title, "Contact") %>
<h1>Contact!</h1>
<p>
  Contact me at the <a href="http://www.maggimix.is/">contact page</a>.
  To get help on this sample app, see my <a href="http://www.github.com/mmstef"><em>
    Github page.</em></a>
</p>